.App {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
}

body {
  background-color: #f0f8ff;
}

h1 {
  color: #4169e1;
  font-size: 50px;
  margin-top: 0;
}

@media only screen and (min-width: 769px) {
  .App {
    flex-wrap: wrap;
    justify-content: left;
    text-align: left;
  }

  h1 {
    margin-left: 10px;
  }
}

@media only screen and (min-width: 1500px) {
  .App {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  h1 {
    margin-left: 0;
  }
}
